/frontend/dist
/frontend/node_modules
/frontend/docs
/frontend/scripts/.gen
/frontend/activities_dist
/docs
/.agents
/.claude
/.codex
/.antigravity
/.playwright-mcp
/frontend/.playwright-cli
/.antigravitycli
/script/__pycache__
/.DS_Store
.DS_Store
**/ .DS_Store